<div class="ui container">
	<nav class="ui top attached menu">
		<div class="header item">
			EMACar
		</div>
		<a class="item" routerLink="/home" routerLinkActive="true" >
			Accueil
		</a>
		<a class="item" routerLink="create" routerLinkActive="active" >
			Créer covoit
		</a>
		<a class="item" routerLink="profile" routerLinkActive="active"  >
			Mon profil
		</a>
		<a class="item" routerLink="about" routerLinkActive="active" >
			A propos
		</a>
		<a class="item" (click)="logout()">
			Se déconnecter
		</a>
		<div class="right menu">
			<div id="main_search" class="ui right aligned category search item">
			<div class="ui 1transparent icon input">
				<input class="prompt"  type="text" placeholder="Rechercher..." #searchInput>
				<i class="search link icon" *ngIf="!searchInput.value" ></i>
				<i class="remove link icon" (click)="resetSearch(searchInput)" *ngIf="searchInput.value"></i>
			</div>
			<div class="results"></div>
			</div>
		</div>
	</nav>
	<router-outlet (activate)="onActivate($event)" ></router-outlet>
</div>

